name: test

on:
  push:
    branches:
      - master

jobs:
    test:
        strategy:
          matrix:
            node-version: [14.x, 16.x, 18.x, 20.x]
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v3
          - uses: actions/setup-node@v3
            with:
              node-version: ${{ matrix.node-version }}
          - run: npm install
          - run: npm test
